# PyInstaller
build/
dist/
*.spec

# Inno Setup
installer_output/
Output/

# macOS DMG
*.dmg


# Python
__pycache__/
*.pyc
.venv/
venv/

#Icon
icon.ico
icon.icns
icon.iconset

# IDE
.idea/
.DS_Store

# Извлечённые пользователем данные (на случай, если кто-то запустит рядом с репо)
telegram_extracted/
