# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
installer_output/

# PyInstaller
*.spec

#installer
installer.iss

#icon
icon.ico

# Logs
*.log

# OS files
.DS_Store
Thumbs.db