# PyInstaller
build/
dist/
*.spec

# Inno Setup
installer_output/
Output/


# Python
__pycache__/
*.pyc
.venv/
venv/

#Icon
icon.ico

# IDE
.idea/

# Извлечённые пользователем данные (на случай, если кто-то запустит рядом с репо)
telegram_extracted/
